Repository dotnet-bluetooth-le/dotnet-bluetooth-le, pull requests merged in 2022-04, with the labels that each got.

#578 Feature/additional scan filtering
  README.md
  Source/BLE.Client/BLE.Client/Pages/DeviceListPage.xaml
  Source/BLE.Client/BLE.Client/ViewModels/DeviceListViewModel.cs
  Source/Plugin.BLE.Abstractions/AdapterBase.cs
  Source/Plugin.BLE.Abstractions/Contracts/IAdapter.cs
  Source/Plugin.BLE.Abstractions/Extensions/AdapterExtenstion.cs
  Source/Plugin.BLE.Abstractions/ScanFilterOptions.cs
  Source/Plugin.BLE.Abstractions/Utils/FakeAdapter.cs
  Source/Plugin.BLE.Android/Adapter.cs
  Source/Plugin.BLE.iOS/Adapter.cs
Labels: enhancement, os:Android

#582 BLE.Client: update to Android12
  Source/BLE.Client/BLE.Client.Droid/BLE.Client.Droid.csproj
  Source/BLE.Client/BLE.Client.Droid/Helpers/PlatformHelpers.cs
  Source/BLE.Client/BLE.Client.Droid/Properties/AndroidManifest.xml
  Source/BLE.Client/BLE.Client.iOS/BLE.Client.iOS.csproj
  Source/BLE.Client/BLE.Client.iOS/Helpers/PlatformHelpers.cs
  Source/BLE.Client/BLE.Client.macOS/BLE.Client.macOS.csproj
  Source/BLE.Client/BLE.Client.macOS/Helpers/PlatformHelpers.cs
  Source/BLE.Client/BLE.Client/BLE.Client.csproj
  Source/BLE.Client/BLE.Client/Helpers/IPlatformHelpers.cs
  Source/BLE.Client/BLE.Client/ViewModels/DeviceListViewModel.cs
Labels: os:Android

#554 Adding unacknowledge writes to iOS (#473)
  Source/Plugin.BLE.iOS/Characteristic.cs
Labels: os:iOS
